<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="../Content/Site.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
        <div class="container">
            @Html.ActionLink("Tina's Study Group", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li>@Html.ActionLink("Simple Starting Page", "ListPeople", "People", new { area = "" }, new { @class = "nav-link" })
                    <li>
                        <div class="dropdown">
                            <button class="btn btn-dark dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                List Of People
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/People/ListPeople">Complete List Of People</a></li>
                                <li><a class="dropdown-item" href="~/HTML/Tina.html">Tina</a></li>
                                <li><a class="dropdown-item" href="~/HTML/Sivuyisile.html">Sivuyisile</a></li>
                                <li><a class="dropdown-item" href="~/HTML/Iviwe.html">Iviwe</a></li>
                                <li><a class="dropdown-item" href="~/HTML/Experience.html">Experience</a></li>
                                <li><a class="dropdown-item" href="~/html/Chrystilla.html">Chrystilla</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/bootstrap.bundle.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
